<div class="container">
  <div class="row">
    <div class="kbir">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="{{user.photo}}" alt="" class="taswira" />
          </div>
          <div class="col-sm-6 col-md-8 ">
            <h4>{{user.firstname}} {{user.lastname}}
            </h4>
            <i class="glyphicon glyphicon-map-marker">
              </i>{{user.adresse.rue}} {{user.adresse.ville}}
            <p>
              <i class="glyphicon glyphicon-phone"></i>{{user.telephone}}
              <br />
              <i class="glyphicon glyphicon-globe"></i><a href="https://{{profile}}">{{profile}}</a>
              <br />
              <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
            <!-- Split button -->
            
            <div id='ds' *ngIf="user.lng!=''" >
              <mgl-map 
              [style]="'mapbox://styles/mapbox/streets-v9'"
              [zoom]="[15]"
              [center]="[user.lng, user.lat]"
            style="
              height:300px;
              width: 500px;
            "
              >
              <mgl-marker #myMarker [lngLat]="[user.lng, user.lat]">
                <div id="marker" [style.background-image]="'url('+user.photo+')'"  class="mapboxgl-marker mapboxgl-marker-anchor-center">
                  </div>
              </mgl-marker>
            </mgl-map>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>